.te {
    display: flex;
    align-items: center;
    justify-content: space-between; /* จัดวางให้มีช่องว่างระหว่างช่องค้นหา เวลา และปุ่ม */
    padding: 20px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

@media only screen and (max-width: 520px) {
    
    .wrapper{
        background-color: #ebebeb;
        padding-left: 50px;
        width: 700px;
    }

    .table{
        width: 700px;
    }
    
    .te{
        background-color: #ebebeb;
        width: 700px;
    }

    .number-input{
        width: 50px;
    }

    .name_product{
        width: 130px;
        
    }
    .confirm-btn{
        position: relative;
        left: 617px;
        top: 20px;
    }
    
}